# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea
/.gitignore
/modules.xml
/vcs.xml
/znkrxtw.github.io.iml
/node_modules/*
/.vite/*
/dist/
