.header {
    display: grid;
    align-items: end;
    height: 140px;
    box-shadow: 0 2px 10px rgb(0, 0, 0);
    width: 100%;
    top: 0;
    left: 0;
    position: sticky;
    background: white;
}

.header-container {
    grid-row: 1;
    margin: 2rem auto auto;
    font-size: 2rem;
    font-family: "Comic Sans MS", "Yu Gothic", serif;
}

.navigation {
    display: flex;
    grid-row: 2;
    justify-content: space-evenly;
    width: 100%;
}

.button {
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    font-size: 20px;
}
